<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
      <a class="navbar-brand">Autenticado: <b></b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" >Inicio</a>
        </li>
        <li ngbDropdown class="nav-item">
          <a href (click)="false" class="nav-link" ngbDropdownToggle>Gestión de órdenes</a>
          <div ngbDropdownMenu>
            <button ngbDropdownItem (click)="goToRoute('crear-orden')">Crear / modificar</button>
            <button ngbDropdownItem (click)="goToRoute('reporte-orden')" >Reportes</button>
          </div>
        </li>

         <li ngbDropdown class="nav-item">
          <a href (click)="false" class="nav-link" ngbDropdownToggle>Administración</a>
          <div ngbDropdownMenu>
            <button ngbDropdownItem (click)="goToRoute('productos')">Productos / Servicios</button>
            <button ngbDropdownItem (click)="goToRoute('inventario')">Inventario</button>
          </div>
        </li>
      </ul>
      <span class="form-inline my-2 my-lg-0">

        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-light mr-1" id="dropdownBasic1" ngbDropdownToggle>Negocio: {{ empresa }}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem *ngFor="let negocio of negocios"  (click)="changeRole(negocio)">{{ negocio.nombre }}</button>
          </div>
        </div>
        <button class="ms-2 btn btn-outline-light" type="submit">Salir</button>
      </span>
    </div>
  </div>
</nav>

<div class="container">
  <div class="alert alert-danger" role="alert" *ngIf="mensajeError.length > 0">
    {{ mensajeError }}
  </div>
</div>

<!--<nav aria-label="breadcrumb">
  <ol class="breadcrumb ps-4">
    <li class="breadcrumb-item active" aria-current="page">
      Home
    </li>
  </ol>
</nav>
 <div class="container">
  <h1>{{ empresa }}</h1>
  <p class="lead">
    {{ negocio?.descripcion }}
  </p>
</div> -->
<router-outlet></router-outlet>
