<div class="container">
    <div class="container">
        <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="mensaje.length > 0">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="cerrarMsj()" ></button>
          {{ mensaje }}
        </div>

        <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="mensajeError.length > 0">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="cerrarMsj()" ></button>
            {{ mensajeError }}
          </div>
        
        <form>
            <div class="mb-3 grid">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <label for="inputNegocioId" class="col-6 col-form-label">Negocio ID</label>
                        <div>
                            <input type="text" class="form-control" name="inputNegocioId" disabled id="inputNegocioId" placeholder="Nombre" [(ngModel)]="negocioId" [ngModelOptions]="{standalone: true}" >
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="inputName" class="col-6 col-form-label">Nombre <label class="text-danger">*</label> </label>
                        <div>
                            <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Nombre" [(ngModel)]="name"  [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="inputRazonSocial" class="col-6 col-form-label">Razón Social <label class="text-danger">*</label></label>
                        <div>
                            <input type="text" class="form-control" name="inputRazonSocial" id="inputRazonSocial" placeholder="Razón Social" [(ngModel)]="razonSocial" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="inputNit" class="col-6 col-form-label">Nit <label class="text-danger">*</label></label>
                        <div>
                            <input type="text" class="form-control" name="inputNit" id="inputNit" placeholder="Nit" [(ngModel)]="nit" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="inputDescripcion" class="col-6 col-form-label">Descripción <label class="text-danger">*</label></label>
                            <label for="" class="form-label"></label>
                            <textarea class="form-control" name="inputDescripcion" id="" rows="3" placeholder="Breve descripción" [(ngModel)]="descripcion" [ngModelOptions]="{standalone: true}"></textarea>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" checked="{{estado}}" id="checkboxEstado" [(ngModel)]="estado" [ngModelOptions]="{standalone: true}">
                          <label class="form-check-label" for="checkboxEstado">
                            Activo
                          </label>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="d-flex flex-row-reverse">
                <div class="p-1"><button type="submit" class="btn btn-primary" (click)="save()" >Guardar</button></div>
                <div class="p-1"><button type="submit" class="btn btn-outline-danger" (click)="clean()">Cancelar</button></div>
            </div>
        </form>
        <table class="mt-4 table">
            <thead>
                <tr>
                    <th>Negocio</th>
                    <th>Razón Social</th>
                    <th>Nit</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let negocio of negocios">
                    <td scope="row">{{ negocio.nombre }}</td>
                    <td>{{ negocio.razonSocial }}</td>
                    <td>{{ negocio.nit }}</td>
                    <td>{{ negocio.descripcion }}</td>
                    <td>{{ negocio.estado === 1 ? 'Activo' : 'Inactivo' }}</td>
                    <td>
                        <button type="button" class="btn btn-secondary" (click)="edit(negocio)">Editar</button>
                        &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>


